*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Montserrat';
    font-size: 15px;
    

}


.montserrat-trial {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}

header{
    background-color: #89CFF0;
    height: 25%;
    background-size: cover;
    background-position: center; 
    min-height: 0vh;
    
    /*transform : scaleY(-1);*/
    
}
.bolded{
    font-weight:600;
}
.image-position-header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:138px;
   
}

.logo-header{
    width:286px;
    height:auto;
}

.container-for-head{
    display:flex; 
    justify-content:space-between;
    padding: 5px 35px;
    
    font-size: 20px;
    
}

.text-left{
    background-position: left;
    
}


.text-right{
    background-position: right;
}
nav{
    background-color: black;
    height: 65px; 
    min-height: 50px;
    border: 1px solid black;
    
}

nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    flex: 1 1 20px;
    
      
}

nav ul li a {
    color: white; 
    text-decoration: none;
    display:block;
    font-size: 22px;
   
    
    
    
}

nav ul li a:hover{
    color: #fa913c;
    font: bold;
    
   
}
main{
    min-height:calc(75vh );
    background-color: aliceblue;

}


.home-cont{
    padding-top: 5vh;
   
}
 main p{
    text-align: center;
    padding: 5vh;
    width: 50%;
    font-size: 17px;
}

.home-photo{
    float: right;
    display: block;
    width:50%;
    height: auto;
    padding: 5vh;
    padding-right: 12vh;
    max-width: 500px;
    margin-top: -5%;
    
}


footer{
    background-color: #89CFF0;
    
    display: flex;
    bottom: 0;
    left: 0;
    
   
}

footer ul{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    flex: 1 1 15px;
    
      
}

footer ul li address{
    padding: 15px 15px;
    display:flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

footer ul li p{
    padding: 15px 10px;
    display:flex;
    font-size: 15px;
    justify-content: center;
    align-items: center; 
}

.image-position-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:69px;
    min-height: 11vh;
   
   
}

.logo-footer{
    width:143px;
    height:auto;
}

body {
    min-height:calc(100vh - 70px);
    background-color: aliceblue;
   border: 2px solid #89CFF0;
}

body h1{
    padding:5vh; 
    padding-bottom: 0vh;
    font-size: 30px;
}

body h2{
    padding: 5vh;
    padding-bottom: 0vh;
    font-size: 20px;
}

body h3{
    padding: 5vh;
    padding-top: 7vh;
    padding-bottom: 0vh;
    padding-left: 8vh;
    font-size: 25px;
}
.about-photo{
    float: right;
    width: 25%;
    padding: 5px;


}
.about-image-rows::after{
    content: "";
    clear: both;
    display: table;
    padding-right: 50vh;
}

body p{
    padding: 5vh;
    padding-top: 2vh;
    padding-bottom: 3vh;

}


body ul{
    padding-left: 12vh;
    padding-top: 2vh;
    
    
}

body ul li{
    padding: 2px;
    font-size: 18px;

}


body h4{
    padding: 10vh;
    font-size: 30px;
    
}

.contact-page{
    min-height:calc(100vh - 70px);
    background-color: aliceblue;
    
    
    padding: 0rem 1rem;
    text-align:center;

}



.form-container{

   display:inline-block;
   padding: 0rem 7rem;
   vertical-align: middle;

}

.form-container h1{
    text-align: left;
    padding-top: 5vh;
    padding-left: 10vh;
    font-size: 30px;
    
    
   
}
.form-container h2{
    text-align: left;
    padding-left: 10vh;
    font-size: 30px;
    
    
    
   
}
.form-group{
    background-position: right;
    padding-left: 5vh; 
    padding-bottom: 15vh;
    padding-top: 2vh;
}
.form-group a{
    background-position: right;
    color: black;
    font-size: 30px;
    text-decoration: none;
    display:block;
    font-weight: bold;
    background-color: #89CFF0;
    border-radius: 25%;
    border-radius: 10px;
    

}

.form-group a:hover {
    color: #fa913c;
    font-weight: bold;
    
}
.btn{
    color: black;
    background-color:white;
    margin-top: 2vh;
    padding: 0.5vh;
    font-size: 20px;
    border-radius: 25%;
    border-radius: 10px;
    
}

.btn:hover{
    background-color: #89CFF0;
}
.form-control{
    padding: 1vh;
    font-size: 20px;
   

}


.form-container img{
    padding: 10vh;
    padding-top: 3vh;
    width:90%;
    
    
}

.photo-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(50px, auto);
    grid-gap: 1em;
   

   
    /* grid-row-gap:-2em;
    justify-items:center;
    align-items:center; */
}

.column::after {
    clear: both;
    display: table;
    padding-right: 50vh;

 }

.column img {
    margin-top: 8px;
    vertical-align: middle; 
    margin-bottom: 8px;
    
}